/* header zone */
/* visual zone*/
/* imgbox zone */
/* main zone */
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}
/* snsicon zone */
/* 텍스트 효과 */
html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
}
.headwrap {
  width: 100%;
  height: 110px;
  margin: 0 auto;
}
.headwrap::after {
  content: "";
  display: block;
  clear: both;
}
.header {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.header::after {
  content: "";
  display: block;
  clear: both;
}
.title {
  display: block;
  height: 110px;
  margin-bottom: 0;
  line-height: 110px;
  color: #000;
  font-size: 1.75rem;
  font-weight: 100;
  font-family: "Norwester", 'Open Sans', Georgia, serif;
  letter-spacing: 1.5px;
  background-color: #fffff0;
  text-align: center;
}
.visual {
  max-width: 1000px;
  margin: 0 auto;
}
.visual::after {
  content: "";
  display: table;
  clear: both;
}
.visual h2 {
  display: block;
  margin: 0 auto;
  font-size: 2.875rem;
  font-weight: 800;
  text-align: center;
}
.portfolio {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.portfolio::after {
  content: "";
  display: table;
  clear: both;
}
.portfolio strong {
  margin-top: 1.875rem;
  font-size: 1.875rem;
  font-weight: 700;
}
.portfolio span {
  margin: 20px;
  font-size: 1.875rem;
}
.portfolio #stxt {
  margin-top: 1.775rem;
  margin-bottom: 1.25rem;
  font-size: 1.015rem;
}
.portfolio a {
  margin-top: 1.50rem;
  margin-bottom: 0;
}
.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  clear: both;
  text-align: center;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.container h3 {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
.container img {
  width: 138px;
  margin: 0 auto;
}
.imabox {
  display: inline-block;
  height: auto;
  margin: 0;
}
.skill {
  width: 100%;
  margin: 0;
}
.infowrap {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  float: left;
  padding: 10px 10px;
}
.infowrap::after {
  content: "";
  display: block;
  clear: both;
}
.info {
  width: 100%;
  margin: 0;
  background-image: url(../images/bg_img.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid black;
}
.info::after {
  content: "";
  display: table;
  clear: both;
}
.info p:first-child {
  padding: 5px 5px;
  border-bottom: 2px dotted white;
}
.info p:nth-child(2) {
  padding: 5px 5px;
  border-bottom: 2px dotted white;
}
.info p:nth-child(3) {
  padding: 5px 5px;
  border-bottom: 2px dotted white;
}
.info h2 {
  padding: 10px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 800;
}
.info span {
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 1.75rem;
  margin-bottom: 0;
}
.snsicon {
  display: inline-block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px;
  float: right;
}
.snsicon::after {
  content: "";
  display: block;
  clear: both;
}
.snsicon img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.snsicon .facebook {
  display: inline-block;
  max-width: 1000px;
  min-width: 120px;
  line-height: 120px;
  margin: 0 auto;
}
.snsicon .instagram {
  display: inline-block;
  max-width: 1000px;
  min-width: 120px;
  line-height: 120px;
  margin: 0 auto;
}
h2 {
  animation: type 3s steps(21);
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  border-right: 4px solid black;
  width: 22ch;
  -webkit-animation: type 3s steps(21);
}
h3 {
  animation: type 3s steps(21);
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  border-right: 4px solid black;
  width: 22ch;
  margin: 0 auto;
}
#stxt {
  animation: type 3s steps(21);
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  border-right: 4px solid black;
  width: 120ch;
  margin: 0 auto;
}
