/* header zone */
/* visual zone*/
/* imgbox zone */
/* main zone */
html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
}
.headwrap {
  width: 100%;
  height: 110px;
  margin: 0 auto;
}
.headwrap::after {
  content: "";
  display: block;
  clear: both;
}
.header {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.header::after {
  content: "";
  display: block;
  clear: both;
}
.title {
  display: block;
  height: 110px;
  margin-bottom: 0;
  line-height: 1;
  color: #000;
  font-size: 3.75rem;
  font-weight: 100;
  font-family: "Norwester", 'Open Sans', Georgia, serif;
  letter-spacing: 1.5px;
  background-color: #fffff0;
  text-align: center;
}
.visual {
  max-width: 1000px;
  margin: 0 auto;
}
.visual::after {
  content: "";
  display: table;
  clear: both;
}
.portfolio {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.portfolio::after {
  content: "";
  display: table;
  clear: both;
}
.portfolio strong {
  margin-top: 1.875rem;
  font-size: 1.875rem;
  font-weight: 700;
}
.portfolio span {
  margin: 20px;
  font-size: 1.875rem;
}
.portfolio p {
  margin-top: 1.775rem;
  margin-bottom: 1.25rem;
}
.portfolio a {
  margin-top: 1.50rem;
  margin-bottom: 0;
}
.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  clear: both;
  text-align: center;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.container h2 {
  display: block;
  font-size: 1.50rem;
  font-weight: 800;
  text-align: center;
}
.container img {
  width: 138px;
  margin: 0 auto;
}
.imabox {
  display: inline-block;
  height: auto;
  margin: 0;
}
.profile {
  max-width: 1000px;
  margin: 0 auto;
}
.profile::after {
  content: "";
  display: table;
  clear: both;
}
.profile h2 {
  padding: 10px;
  font-size: 1.50rem;
  font-weight: 800;
}
.profile strong {
  margin-top: 0;
  margin-bottom: 1.50rem;
  font-size: 1.50rem;
  text-shadow: 1px 2px 1px navy;
}
