html,body{
    height:100%;
    margin:0;
}

/* header zone */
.headwrap{
    width:100%;
    height:70px;
    margin:0 auto;
}
.headerwrap::after{
    content:"";
    display:block;
    clear:both;
}
.header{
    position:relative;
    height:70px;
    line-height:70px;
    margin:0 auto;
}
.header::after{
    content:"";
    display:block;
    clear:both;
}
.logo{
    width:241px;
    height:60px;
    margin:0 auto;
}
.title{
    margin:0;
    font-size:64px;
    text-align:center;
}
/* main zone */
.container{
    position:relative;
    max-width:1000px;
    margin:0 auto;
    padding:0 40px;
}
.container::after{
    content:"";
    display:block;
    clear:both;
}

/* section zone */
.profile{
    display:block;
    width:50%;
    margin:0;
    float:left;
    border:1px solid forestgreen;
}
.profile::after{
    content:"";
    display:block;
    clear:both;
}
.profile h2{
    font-size:24px;
    font-weight:600;
    text-align:center;
}
.profile li{
    font-size:15px;
    font-weight:500;
    padding:20px;
}
.profile article{
    margin-bottom:2.5rem;
    padding-bottom:2.5rem;
    border-bottom:1px solid #f1f1f1;
}
.profile strong{
    padding:15px 10px;
    font-size:17px;
    color:navy;
    text-shadow:1px 2px 1px lime;
}
.profile span{
    padding:15px 10px;
    font-size:15px;
    font-weight:600;
    color:navy;
    text-shadow:1px 2px 1px forestgreen;
}
/* skill zone */
.skill{
    position:absolute;
    left:500px;
    display:block;
    width:50%;
    margin:0;
    float:right;
    border:1px solid red;
    display:none;
}
.skill::after{
    content:"";
    display:block;
    clear:both;
}
.skill h2{
    font-size:24px;
    font-weight:600;
    text-align:center;
}

/* icon zone */
.icon{
    display:inline-block;
    width:100%;
    margin:0;
}
.icon::after{
    content:"";
    display:block;
    clear:both;
}
.icon img{
    display:block;
    width:148px;
    margin:0 auto;
    margin-left:18px;
    float:left;
}
/* portfolio zone */
.portfolio{
    display:inline-block;
    width:100%;
    margin:0;
    border:1px solid blue;
    display:none;
}