html,body{
    height:100%;
    margin:0;
}

/* header zone */
.header{
    width:1000px;
    height:110px;
    margin:0 auto;
    border:1px solid darkblue;
    background-color:ivory;
    text-align:center;
}
.header::after{
    content:"";
    display:block;
    clear:both;
}
.header .logo{
    width:100%;
    margin:0;
    padding:20px;
}

/* main zone */
.container{
    width:1000px;
    margin:0 auto;
    margin-top:10px;
    border:1px solid royalblue;
}
.container::after{
    content:"";
    display:block;
    clear:both;
}

/* section zone */
.profile{
    display:block;
    width:50%;
    margin:0;
    float:left;
    border:1px solid forestgreen;
    background-image:url(../images/bk_images1.png);
    background-repeat:no-repeat;
    background-position:100% 100%;
    background-size:500px 395px;
}
.profile::after{
    content:"";
    display:block;
    clear:both;
}
.profile h2{
    font-size:24px;
    font-weight:600;
    text-align:center;
}
.profile li{
    font-size:15px;
    font-weight:500;
    padding:20px;
}
strong:first-child{
    font-size:17px;
    text-shadow:1px 2px 1px lime;
}

/* skill zone */
.skill{
    display:block;
    width:50%;
    margin:0;
    float:right;
    border:1px solid red;
    background-image:url(../images/bk_images.png);
    background-repeat:no-repeat;
    background-position:100% 100%;
    background-size:493px 330px;
}
.skill::after{
    content:"";
    display:block;
    clear:both;
}
.skill h2{
    font-size:24px;
    font-weight:600;
    text-align:center;
}

/* icon zone */
.icon{
    display:inline-block;
    width:100%;
    margin:0;
}
.icon::after{
    content:"";
    display:block;
    clear:both;
}
.icon img{
    display:block;
    width:148px;
    margin:0 auto;
    margin-left:18px;
    float:left;
}
/* portfolio zone */
.portfolio{
    display:inline-block;
    width:100%;
    margin:0;
    border:1px solid blue;
}