html,body{
	height:100%;
}
.header{
	position:fixed;
	top:0;
	left:0;
	width:240px;
	height:100%;
	margin-right:-100%;
	background:rgb(6,6,33);
	z-index:10;
}
.haeder::after{
	content:"";
	display:block;
	clear:both;
}
/* logo */
.logo{
	display:inline-block;
	width:100%;
	height:60px;
	text-shadow: 1px 1px 0px #fff000, 3px 3px 2px #f3753a;
}
.logo::after{
	content:"";
	display:block;
	clear:both;
}
.logo img{
	display:inline-block;
	clear:both;
	width:240px;
	height:60px;
}

/* side menu */
.nav{
	width:100%;
	padding:0;
}
.gnb{
	width:100%;
	margin:0;
	padding:0;
}
.gnb::after{
	content:"";
	display:block;
	clear:both;
}

/* depth 1 */
.gnb .dep1{
	position:relative;
	width:100%;
	height:54px;
	padding:10px 10px;
	text-align:left;
}
.gnb .dep1 > a{
	position: relative;
	display: block;
	width: 100%;
	padding: 5px 5px;
	font-size: 18px;
	font-weight: 700;
}
.gnb .dep1:hover > a,
.gnb .on > a{
	overflow:hidden;
	background:rgba(255,255,255,.7);
	color:black;
	transition:all .5s;
}
/* favorire zone */
.favorwrap{
	width: 100%;
	margin-top: 10px;
}
.favorwrap h2{
	position: relative;
    width:100%;
    padding:5px 10px;
    font-size:18px;
	font-weight:700;
	background:silver;
}
.favorites{
	width:100%;
}
.favorites li{
	height:100%;
	padding:10px 10px;
	color:royalblue;
}
.favorites a{
	font-size:18px;
	font-weight:700;
	text-align:center;
	clear:both;
	padding-left:10px;
	color:royalblue;
}

/* main zone*/
.container{
	height:100%;
	margin:0;
	padding:0;
	padding-left:240px;
}
.section{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.section h2{
	position:relative;
	z-index:1;
	width:100%;
	height:60px;
	padding:10px 10px;
	font-size: 24px;
	font-weight: 500;
	background:rgba(192,192,192,.8);
	text-align: center;
}
.section article{
	position:relative;
	z-index:1;
	padding:20px;
}

/* profile */
.profile {
	width:100%;
	/* background :linear-gradient(40deg, #d299c2, #fef9d7)	 */
}
.profile::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(../images/profile_img.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	opacity:0.5;
}
.profile ul{
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
}
.profile li{
	display:table-row;
}
.profile strong{
	display:table-cell;
	width:30%;
	padding-left:10px;
	min-width:130px;
	font-size:18px;
	font-weight:700;
	color:black;
	text-shadow:1px 1px 1px greenyellow, 1px -1px 1px 
	royalblue;
}
.profile span{
	display:table-cell;
    padding-top:35px;
    font-size:18px;
    font-weight:600;
    color:black;
    clear:both;
}

/* skill */
.skill {background :linear-gradient(40deg, #314755, #26a0da);}

.skill ul{
	width:100%;
}
.skill li {
	height:100%;
}
.skill span{
	font-size:20px;
	font-weight:700;
	float:left;
}
.skill a > img{
    width:350px;
    height:350px;
    padding:20px;
    float:left;
}

/* portfolio */
.portfolio { background :linear-gradient(40deg, #403B4A, #E7E9BB); }