body{
    height:100%;
}
.headerwerap{
    width:100%;
    margin:0 auto;
}
.header{
    position:relative;
    float:left;
    width:240px;
    height:1025px;
    background:rgba(255,0,0,.5);
}
.haeder::after{
    content:"";
    display:block;
    clear:both;
}
/* logo */
.logo{
    display:inline-block;
    float:left;
    width:240px;
    height:60px;
    text-shadow: 1px 1px 0px #fff000, 
    3px 3px 2px #f3753a;
}
.logo::after{
    content:"";
    display:block;
    clear:both;
}
.logo img{
    display:inline-block;
    clear:both;
    width:240px;
    height:60px;
}
.logo span{
    position: absolute;
    top: -10px;
    left: 230px;
    width: 1200px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 10px;
    padding:10px 10px;
    background:darkgray;
    text-align: center;
}

/* side menu */
.nav{
    float:left;
    height:295px;
    padding:0;
}
.nav h2 {
    font-size: 18px;
    font-weight: 700;
    width: 239px;
    text-align: center;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
   
}
.gnb::after{
    content:"";
    display:block;
    clear:both;
}

/* depth 1 */
.gnb .dep1{
    position:relative;
    display:inline-block;
    float:left;
    padding:10px 10px;
}
.gnb .dep1::after{
    content:"";
    display:block;
    clear:both;
}

.gnb .dep1 {
    position:relative;
    display:inline-block;
    float:left;
    text-align:center;
}
.gnb .dep1 > a{
    position: relative;
    display: inline-block;
    width: 240px;
    padding: 5px 5px;
    font-size: 18px;
    font-weight: 700;
}
.gnb .dep1:hover > a{
    background:rgba(0,0,0,.8);
    color:white;
    transition:all .5s;
}
.gnb .dep1:hover span{
    display:inline-block;
    color:white;
    font-size:15px;
    text-align:center;
}
/* favorire zone */
.favorites{
    width: 240px;
    height: 785px;
    margin-top: 10px;
    background: rgba(1,179,219,.5);
}
.favorites h2{
    font-size:18px;
    font-weight:700;
    text-align:center;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
}

/* main zone*/
.container{
    width:100%;
    margin:0 auto;
}
.cstwrap{
    position:relative;
    top: 10px;
    left: 130px;
    width:1200px;
}
.cstwrap .contents{
    width:100%;
    margin:0 auto;
}
.cstwrap .contents::after{
    content:"";
    display:block;
    clear:both;
}
.cstwrap .contents article{
    float:left;
    width:100%;
}

/* contents */
.cstwrap .contents .contents1{
    position:absolute;
    top:50px;
    left:110px;
    height:560px;
    background: lightblue;
}