/* Reset */
html,body,div,ul,ol,li,dl,dt,dd,p,address,h1,h2,h3,h4,h5,h6,table,tr,thead,tbody,tfoot,th,td,form,caption,legend,input,select,textarea,span,i,strong,b,em,a,img,section,header,article,footer,aside,nav{
    margin:0;
    padding:0;
    color:#333;
    font-size:13px;
	font-family:AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    box-sizing:border-box;
}
::before,
::after{
	/* content:""; */
	margin:0;
	padding:0;
	color:#333;
	font-size:13px;
	font-family:AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    box-sizing:border-box;
}
address,em,i{
    font-style:normal;
}
a{
	text-decoration:none;
}
a:link{
    color:#333;
}
a:hover{
    color:#333;
}
a:active{
    color:#333;
}
a:visited{
    color:#333;
}
a:focus{
    color:#333;
}
img,fieldset{border:0;}
ul,ol,li{list-style:none;}
table{width:100%;}
table,th,td{border:0;border-spacing:0;border-collapse:collapse;}





