html,body{
    height:100%;
}

/* header 영역 */
.headwrap{
    width:100%;
    height:110px;
    margin: 0 auto;
}
.headwrap::after{
    content:"";
    display:block;
    clear:both;
}
.headwrap .header{
    width:100%;
    height:110px;
    background:rgba(255,165,0,.5);
    border:1px solid black;
}

/* visual 영역 */
.visualwrap{
    width:100%;
    height:660px;
    margin:0 auto;
    border:1px solid royalblue;
}
.visual{
    height:100%;
    margin:0 auto;
}
.visual::after{
    content:"";
    display:block;
    clear:both;
}

/* main 영역 */
.container{
    width:100%;
    height:600px;
    margin:0 auto;
    border:1px solid black;
}
.container::after{
    content:"";
    display:block;
    clear:both;
}
.container .contents{
    width:100%;
    height:220px;
    margin:0 auto;
    background:rgba(128,0,128,.5);
    border:1px solid black;
}
.container .contents .csc{
    width:375px;
    height:125px;
    margin:0 auto;
    float:right;
    background:rgb(250,235,206);

}
.container .production{
    width:100%;
    height:380px;
    margin:0 auto;
    background:rgba(0,0,255,.5);
    border:1px solid black;
}
.container .banner{
    width:100%;
    height:120px;
    margin:0 auto;
    background:rgba(65,105,225,.5);
    border:1px solid black;
    z-index:100;
}

/* footer 영역 */
.footwrap{
    position:relative;
    top:120px;
    left:0;
    height:190px;
    margin:0 auto;
    background:rgba(238,130,238,.5);
    border:1px solid black;
}