html,body{
    height:100%;
}

/* header zone */
.headwrap{
    width:100%;
    margin: 0 auto;
}
.header{
    position: relative;
    width:1200px;
    height:110px;
    margin:0 auto;
}
.header::after{
    content:"";
    display:block;
    clear:both;
}
/* logo zone */
.logo{
    width:240px;
    height:110px;
}
.logo a{
    display:inline-block;
    width:100%;
    height:100%;
}
.logo img{
    width:100%;
}

/* nav zone */
.nav{
    position:absolute;
    top:0;
    right:60px;
    height:110px;
    padding:10px 0;
}
.gnb{
    width:100%;
    height:110px;
    margin:0 auto;
}
.nav::after{
    content:"";
    display:block;
    clear:both;
}
/* depth 1  zone*/
.dep1{
    position:relative;
    display: block;
    float: left;
    text-align: center;
}
.dep1 > a{
    display:block;
    line-height: 110px;
    padding:0 40px;
    font-size: 16px;
    font-weight:500;
    color: #393e40;
}
.dep1:hover > a{
    display:block;
    font-size:12px;
    font-weight:500;
    color:#089bd9;
}
.dep1 span{
    display:inline-block;    
    font-size:16px;

}
/* depth 2  zone*/
.nav .dep2 li a:hover{
    color:#089bd9;
}

.nav .dep2{
    position:absolute;
    overflow:hidden;
    top:110px;
    left:0;
    display:none;
    width:100%;
    padding:25px 0;
    z-index:11;
    border-bottom:3px solid #089bd9;
}
.nav .dep1:hover .dep2{
    display:block;
    width:100%;
    max-height:110px;
    padding:15px;
    background:rgba(255,255,255,.5);
    color:black;
    opacity:1;
    z-index:15;
}
.nav .dep2 > li {
    position: relative;
    display: block;
    float: none;
    font-size:12px;
}
.nav .dep2 > li > a{
    display:block;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
} 

/* visual zone*/
.visualwrap{
    overflow: hidden;
    width:100%;
    height:660px;
}

/* main zone*/
.container{
    position:relative;
    display:block;
    width: 1200px;
    margin:0 auto;
    padding:50px 0;
    overflow:hidden;
}
.container::after{
    content:"";
    display:block;
    clear:both;
}
.container section{
    float: left;
    width:1200px;
    height: 285px;
    margin: 0 0 40px;
}
.container section::after{
    content:"";
    display:block;
    clear:both;
}
.contents > div{
    float:left;
    width:373px;
    height:170px;
    margin: 0 0 40px;
}
.contents:first-child{
    margin-left:30px;
}
.clist{
    position:relative;
    display:block;
    overflow:hidden;
}
.clist strong{
    vertical-align:baseline;
}
.clist .data{
    position:absolute;
    right:0;
    top:0;
    padding-top:33px;
    padding-right:20px;
    font-size:13px;
    color:#909090;
}
.location{
    position:relative;
    display:block;
    overflow:hidden;
    margin-left:30px;
}

.more{
    display:inline-block !important;
    position:absolute;
    margin:0 !important;
    padding:0 !important;
    font-size:0;
    line-height:0;
    border:0 !important;
    overflow:hidden !important;
}
.more::after{
    content:"";
    display:block;
    clear:both;
}
.more span{
    position:absolute;
    right:0;
    top:5px;
}
.csc{
    position:relative;
    display:block;
    overflow:hidden;
    margin-left:30px;
}
.csc .customer{
    display:block;
    height:125px;
    padding-left:150px;
    background-color:#faeace;
    background-image:url(..//images/customer.png);
    background-repeat:no-repeat;
    background-position:left top;
}
.weekday{
    display:block;
    padding-top:25px;
    padding-left:25px;
    font-size:13px;
    color:#857e71;
}
.time{
    display:block;
    padding-left:25px;
    font-size:13px;
    color:#514cc4;
}

.holiday{
    display:block;
    padding-top:10px;
    padding-left:25px;
    font-size:13px;
    color:#857e71;
}

/* production */
.product{
    position:relative;
    display:block;
    padding: 10px 5px;
    overflow:hidden;
}
.product::after{
    content:"";
    display:block;
    clear:both;
}
.product section{
    float:left;
    width:1200px;
    margin:0 0 40px;
}
.product section::after{
    content:"";
    display:block;
    clear:both;
}
.product > div{
    display:block;
    float:left;
    width:373px;
}
.product a > img{
    display:block;
    width:370px;
    height:200px;
}
.production{
    position: relative;
    overflow: hidden;
    border:1px solid #dddddd;
}
.preoduction::after{
    content:"";
    display:block;
    clear:both;
}
.production:nth-child(3){
    margin-left:30px;
}
.production:last-child{
    margin-left:30px;
}
.title{												    	display:block;
    width:100%;
    margin:0 0 20px;
    font-size:20px;
    color:#303030;
}
.ptitle{
    display:block;
    width:120px;
    height:40px;
    line-height:40px;
    font-size:15px;
    color:#ffffff;
    text-align:center;
}
#ptitle1{
    display:inline-block;
    background:#3c99c1;
}
.pcnt{
    padding-left:10px;
    height:200px;
    font-size:13px;
    color:#606060;
    text-align:center;
}

#ptitle2{
    display:inline-block;
    background:#3cc1be;
}

#ptitle3{
    display:inline-block;
    background:#7e7e7e;
}
.product h2{
    position:relative;
    display:block;
    width:100%;
    margin:0 0 20px;
    font-size:20px;
    color:#303030;
    overflow:hidden;
}

/* banner */
.bannerwrap{
    display:block;
    width:100%;
    height:120px;
    padding:30px 0; 
    border-top:1px solid #dbdbdb;
}
.banner{
    position:relative;
    display:inline-block;
    margin:0;
    padding:0;
    z-index:1;
    padding-left:170px;
}
.banner h2{
    position:absolute;
    display:block;
    left:0;
    top:0;    
    line-height:60px;
    font-size:20px;
    color:#000000;
}
.banner ul{
    position:relative;
    display:block;
    margin:0;
    padding:0;
    z-index:1;
}
.banner ul li{
    display:inline-block;
}
.banner li{
    display:inline-block;
    overflow:hidden;
    width:165px;
    height:60px;
    margin-right:10px;
}
.banner li a{
    display:inline-block;
    width:165px;
    height:60px;
    border:1px solid #dbdbdb;
    border-radius:3px;
    overflow:hidden;
}
/* footer */
.footwrap {
    display: block;
    height: 200px;
    margin:0 auto;
    background: #f7f8f9;
    border-top:1px solid #dbdbdb;
}
.footer{
    display: block;
    width: 1200px;
    height: 100%;
    margin:0 auto;
    background:#f7f8f9;
    background-image:url(../images/f_logo.png);
    background-repeat:no-repeat;
    background-position:right bottom;
    overflow:hidden;
}
.footer::after{
    content:"";
    display:block;
    clear:both;
}

/* fbtn */
.footer .fbtn{
    display: block;
    padding: 40px 0 25px;
}
.fbtn a{
    display: inline-block;
    font-size:13px;
    font-weight:500;
}
.fbtn a:first-child{
    padding-right: 20px;
    color:#089bd9;
}
.fbtn a:last-child{
    padding-left: 20px;
}
.footer p{
    line-height:27px;
    font-size:12px;
    color:#909090;
}
.name{
    line-height:27px;
    font-size:12px;
    color:#909090;
    padding:5px;
}
.crn{
    line-height:27px;
    font-size:12px;
    color:#909090;
    padding:5px;
}

/* address */
address{
    line-height:27px;
    font-size:12px;
    color:#909090;
    padding:5px 5px;
}
address::after{
    content:"";
    display:block;
    clear:both;
}
.tel{
    line-height:27px;
    font-size:12px;
    color:#909090;
    padding:5px;
}
.fax{
    line-height:27px;
    font-size:12px;
    color:#909090;
    padding:5px;
}