html,body{
    height:100%;
}

/* header 영역 */
.headwrap{
    width:100%;
    height:110px;
    margin: 0 auto;
}
.headwrap::after{
    content:"";
    display:block;
    clear:both;
}
.headwrap .header{
    width:100%;
    height:110px;
    border:1px solid navy;
}
.headwrap .header::after{
    content:"";
    display:block;
    clear:both;
}

/* tapmenu 영역 */
.nav{
	width:100%;
	margin:0 auto;
}
.nav .gnb{
    position: relative;
    top:-35px;
    left:200px;
    width:100%;
    padding:5px;
}
.nav .gnb::after{
	content:"";
	display:block;
	clear:both;
}
/* depth 1 영역*/
.nav .dep1{
	position: relative;
	top:-40px;
    left: 100px;
    bottom: 40px;
    display: inline-block;
    height: 110px;
    padding: 35px 15px;
    text-align: center;
}
.nav .dep1 > a {
	position:relative;
	font-size:20px;
	font-weight:400;
}
.nav .dep1 span{
	font-size:20px;
	font-weight:400;
}
.nav .dep1:hover > a span{
	font-size:22px;
	font-weight:600;
	color:black;
}

/* depth2 */
.nav .dep2 li a:hover{
	color:skyblue;
	font-weight:600;
	font-style:oblique;
}
.nav .dep2 {
	overflow: hidden;
    position: absolute;
    top: 90px;
    width: 100%;
    background: rgba(0,0,0,.8);
    text-align: center;
    opacity: 0;
    z-index: 1;
}
.nav .dep1:hover .dep2{
	max-height:160px;
	padding-bottom:15px;
	opacity:1;
}
.nav .dep2 > li{
	width:100%;
	color:white;
	font-size:14px;
}
.nav .dep2 > li > a{
	display: inline-block;
    width: 100%;
    padding: 5px;
    color: inherit;
	font-size: inherit;
	text-align:left;
}

/* logo 영역 */
.logo {
    width:240px;
    height:110px;
}

.logo img {
	float: left;
    width: 240px;
    height: 110px;
}

/* visual 영역 */
.visualwrap{
    width:100%;
    height:660px;
    background:rgba(65,105,225,.5);
    margin:0 auto;
}
.visualwrap img{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:660px;
}
.visual::after{
    content:"";
    display:block;
    clear:both;
}

/* main 영역 */
.container{
    width:100%;
    height: 750px;
    margin:0 auto;
    border:1px solid black;
}
.container::after{
    content:"";
    display:block;
    clear:both;
}
.container .contents{
    width: 100%;
    height: 630px;
    margin: 0 auto;
    background: rgba(128,0,128,.5);
    border: 1px solid black;
}
.container .contents .csc{
    width: 375px;
    height: 125px;
    float: left;
    margin: 0 auto;
    margin-right: 120px;
    background: rgb(250,235,206);
}
.container .contents .csc .customer{
    width:100%;
    height:100%;
    margin:0 auto;
}
.csc .customer::after{
    content:"";
    display:block;
    clear:both;
}
.contents .csc .customer img{
    width:150px;
    height:125px;
    margin:0 auto;
}
.container .contents .clist{
    width: 375px;
    height:125px;
    margin:0 auto;
    float: left;
}
/* location 영역 */
.container .contents .location{
    width:100%;
    margin:0 auto;
}
.container .contents .location{
    width: 375px;
    height: 125px;
    float: left;
    margin:0 auto;
}
.container .contents .subtitle{
    font-size:16px;
    font-weight:600;
}

/* prodution 영역 */
.production{
    position: relative;
    top: 200px;
    width: 375px;
    height: 125px;
    margin:0 auto;
    float: left;
}
.container .production h2{
    font-size:20px;
    font-weight:600;
}
.production .drink{
    width:375px;
    height:120px;
    margin:0 auto;
}
.production .drink img{
    width:100%;
    height:100%;
}
.ptitle{
    font-size:18px;
    font-weight:600;
}
.pcnt{
    font-size:18px;
    font-weight:600;
}
/* banner 영역 */
.bannerwrap{
    width: 100%;
    height: 220px;
    margin:0 auto;
}
.container .banner{
    width:100%;
    height: 120px;
    float:left;
    margin:0 auto;
    background:rgba(65,105,225,.5);
}
.container .banner::after{
    content:"";
    display:block;
    clear:both;
}
.container .banner li{
    width:100%;
}
.container .banner a{
    height:100%;
}
.container .banner a > img{
    width:162px;
    height:58px;
    margin:0 auto;
    float:left;
}
.container .banner h2{
    font-size:20px;
    font-weight:600;
}

/* footer 영역 */
.footwrap{
    width: 100%;
    height: 220px;
    margin: 0 auto;
    background: rgba(238,130,238,.5);
}