html,body{
	height:100%;
}

/* header zone */
.headwrap{
	width:100%;
	margin: 0 auto;
}
.header{
	position: relative;
	width:1200px;
	height:110px;
	margin:0 auto;
}
.header::after{
	content:"";
	display:block;
	clear:both;
}
/* logo zone */
.logo{
	width:240px;
	height:110px;
}
.logo a{
	display:inline-block;
	width:100%;
	height:100%;
}
.logo img{
	width:100%;
}

/* nav zone */
.nav{
	position:absolute;
	top:0;
	right:60px;
	height:110px;
	padding:10px 0;
}
.gnb{
	
}
.gnb::after{
	content:"";
	display:block;
	clear:both;
}
.gnb .dep1{
	display:inline-block;
}
.gnb .dep1 > a{
	display:inline-block;
	padding:40px;
}

/* visual zone*/
.visualwrap{
	overflow: hidden;
	width:100%;
	height:660px;
}

/* main zone*/
.container{
	width: 100%;
	margin: 0;
}
.container::after{
	content:"";
	display:block;
	clear:both;
}
.container section{
	width:1200px;
	margin:0 auto;
}
.container section::after{
	content:"";
	display:block;
	clear:both;
}
.contents > div{
	float:left;
	width:373px;
	height:170px;
}

/* production */
.product{
	width:100%;
	margin:0;
}
.product::after{
	content:"";
	display:block;
	clear:both;
}
.product section{
	width:1200px;
	margin:0 auto;
}
.product section::after{
	content:"";
	display:block;
	clear:both;
}
.product > div{
	float:left;
	width:371px;
	height: 285px;
}
.product a{
	display:inline-block;
	width:100%;
	height:100%;
}
.product img{
	width: 371px;
	height: 197px;
	border:1px solid #ddd;
}
.drink{
	border-left:0;
}

/* banner */
.bannerwrap{
	width:100%;
	border-top:1px solid #dbdbdb;
}
.banner{
	position:relative;
	width: 1200px;
	margin:0 auto;
	padding-left:170px;
}
.banner h2{
	position:absolute;
	top:0;
	left:0;
}
.banner ul{

}
.banner ul li{
	display:inline-block;
}

/* footer */
.footwrap {
	height:100%;
	margin:0 auto;
}
.footer{
	display:block;
	width:1200px;
	height:100%;
	margin:0 auto;
	background-image:url(../images/f_logo.png);
	background-repeat:no-repeat;
	background-position:right;
	overflow:hidden;
}