html,body{
    height:100%;
}

/* header zone */
.headwrap{
    width:100%;
    margin: 0 auto;
}
.headwrap::after{
    content:"";
    display:block;
    clear:both;
}
.headwrap .header{
    position: relative;
    margin:0 auto;
    width:1200px;
    height:110px;
}
.headwrap .header::after{
    content:"";
    display:block;
    clear:both;
}

/* tapmenu zone*/
.nav{
	width:100%;
	margin:0 auto;
}
.nav::after{
    content:"";
    display:block;
    clear:both;
}
.nav .gnb{
    position: relative;
    top: -50px;
    left: 455px;
    width: 100%;
}
.nav .gnb::after{
	content:"";
	display:block;
	clear:both;
}

/* depth 1 zone*/
.nav .dep1{
    position: relative;
    top: -20px;
    left: 110px;
    bottom: 40px;
    display: inline-block;
    height: 110px;
    padding: 35px 35px;
    text-align: center;
}
.nav .dep1 > a {
	position:relative;
	font-size:20px;
    font-weight:600;
}
.nav .dep1 span{
	font-size:16px;
	font-weight:400;
	color: black;
}
.nav .dep1:hover > a span{
    font-size:16px;
    font-weight:700;
    color:#089bd9;
    background:rgba(255,255,255,.8);
}

/* depth 2  zone*/
.nav .dep2 li a:hover{
	color:#089bd9;
    font-weight:400;
    transition:all .5s;
}
.nav .dep2 {
    overflow: hidden;
    position: absolute;
    top:65px;
    right:-5px;
    width:100%;
    background: rgba(255,255,255,.8);
    opacity:0;
    z-index:1;
    text-align:center;
}
.nav .dep1:hover .dep2{
	max-height:160px;
    padding-bottom:15px;
	opacity:1;
    transition:all .5s;
}
.nav .dep2 > li{
	width:100%;
	color:black;
	font-size:14px;
}
.nav .dep2 > li > a{
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: inherit;
    font-size: inherit;
    text-align: center;
}

/* logo zone */
.logo {
    width:240px;
    height:110px;
    margin:0 auto;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 240px;
    margin-left: 25px;
}

/* visual zone*/
.visualwrap{
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height:660px;
    background:rgba(65,105,225,.5);
    margin:0 auto;
}
.visualwrap img{
    position: relative;
    top: 20%;
    width: 1320px;
    height: 100%;
    max-width: 1320px;
    max-height: 660px;
}
.visual::after{
    content:"";
    display:block;
    clear:both;
}

/* main zone*/
.container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.container::after{
    content:"";
    display:block;
    clear:both;
}
.container .contents{
  	position: absolute;
  	top: 90%;
  	left: 0;
  	width: 100%;
  	height:700px;
  	margin: 0 auto;
}
.container .contents h2{
	position:absolute;
	top: -15%;
	font-size: 20px;
	font-weight:600;
	z-index:5;
}
.csetion{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/* clist zone */
.container .contents .clist{
    position: absolute;
    top: 10%;
    left: 7%;
    width: 375px;
    height: 128px;
    margin:0 auto;
    float: left;
}
.container .contents .clist::after{
    content:"";
    display:block;
    clear:both;
}
.container .contents .clist strong{
	position:absolute;
	top:25px;
	left:0;
	font-size: 13px;
	font-weight: 600;
	vertical-align: baseline;
}
.container .contents .clist span{
    position: absolute;
    top: 20px;
    left: 300px;
    font-size: 13px;
    font-weight: 600;
    vertical-align: baseline;
}

/* location zone */
.container .contents .location{
    position: absolute;
    top: 10%;
    left: 7%;
    width: 375px;
    height: 128px;
    margin: 0 auto;
    margin-left: 410px;
    float: left;
}
.container .contents .location::after{
    content:"";
    display:block;
    clear:both;

}
.container .contents .location img{
    position: absolute;
    top: 0;
    width: 375px;
    margin: 0 auto;
}

/* customer zone */
.container .contents .csc{
    position: absolute;
    top: 10%;
    left: 7%;
    width: 375px;
    height: 125px;
    float: left;
    margin: 0 auto;
    margin-left: 820px;
    background: rgb(250,235,206);
}
.container .contents .csc .customer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
    float: left;
    margin: 0 auto;
}
.csc .customer::after{
    content:"";
    display:block;
    clear:both;
}
.contents .csc .customer img{
    position: absolute;
    top: 0;
    display: block;
    width: 150px;
    height: 125px;
    margin: 0 auto;
}
 .contents .csc .customer .weekday{
    position:relative;
    top: 10px;
    left: 160px;
    float: left;
    clear: both;
    font-size: 12px;
    font-weight: 500;
}
.contents .csc .customer .time{
    position: absolute;
    top: 30px;
    left: 160px;
    float:left;
    clear:both;
    padding-top:15px;
    font-size:12px;
    font-weight:500;
}
.contents .csc .customer .holiday{
    position: absolute;
    top: 55px;
    left: 160px;
    float: left;
    clear: both;
    padding-top:15px;
    font-size: 12px;
    font-weight: 500;
}

/* prodution zone */
.prodwrap{
    position: relative;
    top: 45%;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0 auto;
}
.prodwrap::after{
    content:"";
    display:block;
    clear:both;
}
.prodwrap .production{
    position: absolute;
    top: 15%;
    left: 7%;
    width: 375px;
    margin: 0 auto;
    float: left;
    clear: both;
}
.prodwrap .production h2{
    position: absolute;
    top: 55%;
    left: 0;
    font-size: 20px;
    font-weight: 600;
    z-index: 50;
}
.prodwrap .drink{
    position: absolute;
    top: 90%;
    width:375px;
    height:200px;
    margin:0 auto;
    margin-top: 10px;
}
.prodwrap .drink img{
    width: 375px;
    height: 200px;
    margin: 0 auto;
    margin-top: 45px;
    border: 2px solid darkgray;
    border-left: 0;
}
.prodwrap .snack{
    position: absolute;
    top: 90%;
    left: 450px;
    width:375px;
    height:200px;
    margin:0 auto;
    margin-top: 10px;
    float:left;
    clear:both;
}
.prodwrap .snack img{
    width: 375px;
    height: 200px;
    margin:0 auto;
    margin-top: 45px;
    float:left;
    clear:both;
    border:2px solid darkgray;
}
.prodwrap .other{
    position: absolute;
    top: 90%;
    left:900px;
    width:375px;
    height:200px;
    margin:0 auto;
    margin-top: 10px;
    float:left;
    clear:both;
}
.prodwrap .other img{
    width: 375px;
    height: 200px;
    margin: 0 auto;
    margin-top: 45px;
    float: left;
    clear: both;
    border: 2px solid darkgray;
}

.ptitle{
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
#ptitle1{
    background:#3c99c1;
}
#ptitle2{
    background:#3cc1be
}
#ptitle3{
    background:#7e7e7e;
}
.pcnt{
    font-size:16px;
    font-weight:600;
    margin-left: 15px;
}

/* banner zone */
.bannerwrap{
	position: relative;
	top: 90%;
	left: 0;
	width: 100%;
	height: 120px;
	margin: 0px auto;
	border-top: 1px solid gray;
}
.bannerwrap::after{
    content:"";
    display:block;
    clear:both;
}
.bannerzone{
    width:100%;
    height:100%;
    margin:0 auto;
}
.banner{
	position: absolute;
	top: 15%;
	left: 7%;
	width: 100%;
	height: 100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.banner::after{
    content:"";
    display:block;
    clear:both;
}
.banner li{
    width:100%;
    margin:0 auto;
}
.banner a{
    height:100%;
}
.banner img{
	position:absolute;
	top:25px;
	left:150px;
    display:inline-block;
    clear:both;
    width: 165px;
    height: 60px;
    vertical-align:middle;
}
.gs25logo{
	display:block;
	z-index:5;
	margin-left:10px;
	border:1px solid;
}
.culogo{
	display:block;
	z-index:5;
	margin-left:180px;
	border:1px solid;

}
.selogo{
	display:block;
	z-index:5;
	margin-left:350px;
	border:1px solid;
}
.mslogo{
	display:block;
	z-index:5;
    margin-left:520px;
    border:1px solid;
}
.hplogo{
    display:block;
	z-index:5;
    margin-left:690px;
    border:1px solid;
}
.lmlogo{
    display:block;
	z-index:5;
    margin-left:860px;
    border:1px solid;
}
.banner h2{
	position:absolute;
	top:0;
	display: inline-block;
	padding: 45px 45px;
	margin:0 auto;
	font-size: 18px;
	font-weight:600;
}

/* footer zone */
.footwrap{
    position: relative;
    top: 5%;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: #f7f8f9;
    border-top: 1px solid #dbdbdb;
}
.footwrap::after{
    content:"";
    display:block;
    clear:both;
}
.footer{
	position: absolute;
	left: 7%;
	width:100%;
	height: 200px;
	max-width: 1200px;
	max-height: 200px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.footwrap .footer .fbtn {
    margin-top: 35px;
    margin-left: 0;
    font-size:12px;
    font-weight:500;
}
.footwrap .fbtn #ftxt{
    color:#089bd9;
    padding-top: 10px;
}
.footwrap .fbtn #ftxt1{
    padding:10px;
}

/* address zone*/
address{
    padding-top:35px;
    padding-bottom:40px;
    font-size:12px;
    font-weight:500;
}
address::after{
    content:"";
    display:block;
    clear:both;
}
address p{
    padding-top:15px;
    padding-left: 0;
    font-size:12px;
    font-weight:500;
    text-align:left;
}
.name{
    padding-left:10px;
    font-size:inherit;
    font-weight:inherit;
}
.crn{
    padding-left:10px;
    font-size:inherit;
    font-weight:inherit;
} 
.tel{
    padding-left:10px;
    font-size:inherit;
    font-weight:inherit;
}
.fax{
    padding-left:10px;
    font-size:inherit;
    font-weight:inherit;
}
.copy{
    position: relative;
    top:0;
    left:0;
    margin:0 auto;
    font-size:inherit;
    font-weight:inherit;
}