html,body{
    width:100%;
}
/* header */
.headwrap{
    height:100%;
    margin:0;
}
.header{
    height:90px;
    margin: 0 auto;
    border:1px solid red;
}
.header::after{
    content:"";
    display:block;
    clear:both;
}

/* nav */
.nav {
    width:100%;
    margin:0;
    border:1px solid red;
}

.nav::after{
    content:"";
    display:block;
    clear:both;
}