html,body{
    width:100%;
}
/* header */
.headwrap{
    height:100%;
    margin:0;
}
.header{    
    display:inline-block;
    margin: 0 auto;
}
.header::after{
    content:"";
    display:block;
    clear:both;
}

/* nav */
.nav {
    width:100%;
    margin:0;
}
.nav::after{
    content:"";
    display:block;
    clear:both;
}
.nav ul{
    width:100%;
}
.nav li{
    display:block;
    float:left;
    margin:0 auto;
    margin-left:10px;
    border:1px solid lightpink;
}
.nav span{
    font-size:20px;
    font-weight:600;
    color:black;
}

/* trigger */
.menu-trigger,
.menu-trigger span {
    display : inline-block;
    transition : all .4s;
    box-sizing : border-box;
}
.menu-trigger {
    position : relative;
    width : 50px;
    height : 44px;
}
.menu-trigger span {
    position : absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color :#fff;
    border-radius :4px;
}
.menu-trigger span:nth-of-type(1) {
    top:0;
}
.menu-trigger span:nth-of-type(2) {
    top:20px;

}
.menu-trigger span:nth-of-type(3) {
    bottom:0;
}

/* media */
@media(max-width:300px){
    .headwrap{
        width:100%;
        height:auto;
        margin:0;
    }
    .nav{
        width:auto;
        margin-right:auto;
    }
    .nav li{
        display:block;
        clear:both;
        margin:0 auto;
    }
   
}
@media(max-width:200px){
    .nav li{
        width:100%;
        height:100%;
        margin-top:20px;
    }
    .nav li:nth-child(1){
        width:100%;
        color:black;
        text-shadow:1px 1px 0 yellow,0 0 1em blue,
        1px -1px 1px yellow;

    }
    .nav li:nth-child(2){
        width:100%;
        text-shadow:1px 1px 0 yellow,0 0 1em blue,
        1px -1px 1px yellow;

    }
    .nav li:nth-child(3){
        text-shadow:1px 1px 0 yellow,0 0 1em blue,
        1px -1px 1px yellow;
    }
}