html,body{
    width:100%;
}
/* header */
.headwrap{
    height:100%;
    margin:0;
}
.header{
    height:90px;
    margin: 0 auto;
    border:1px solid red;
}
.header::after{
    content:"";
    display:block;
    clear:both;
}

/* nav */
.nav {
    width:100%;
    margin:0;
}
.gnb{
    position:absolute;
    top:0;
    left:0;
    height:90px;
    margin:0 auto;
    line-height:90px;
    border:1px solid red;
}
.gnb::after{
    content:"";
    display:block;
    clear:both;
}