html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
.list {
  width: 100%;
  height: 100%;
  margin: 0;
}
.list::after {
  content: "";
  display: block;
  clear: both;
}
.list h1 {
  font-size: 24px;
  font-weight: 700;
  color: royalblue;
}
.careers {
  width: 100%;
  margin: 0 auto;
  border: 1px solid gray;
}
.careers::after {
  content: "";
  display: block;
  clear: both;
}
.careers li {
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}
.careers a {
  width: 100%;
}
.careers span {
  font-size: 15px;
  font-weight: 500;
  transition: all .4s;
  color: white;
  background: navy;
}
.careers li a > span:hover {
  text-shadow: 1px 3px 1px lightblue;
  font-size: 18px;
  font-weight: 700;
  color: limegreen;
}
